--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
streamlit-extras
python-dotenv
requests
pydub
ffmpeg-python
yt-dlp
yt-dlp-ejs
openai-whisper
torch
sentence-transformers
huggingface-hub
chromadb
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-mistralai
mistralai
deep-translator
fpdf2
reportlabaudioop-lts; python_version >= '3.13'
